[user]
	name = Xiaocan Li
	email = 4249978+xiaocanli@users.noreply.github.com
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
[core]
	editor = vim
[credential]
	helper = cache
[pull]
	rebase = false
